@{
    ViewBag.Title = "Home Page";
}
@{
    Dictionary<string, string> resources = PPlanner.GetResources.GetResourcesFromDB();
}
<h3>Проекти</h3>

<div class="row mainwrapper">
    <div class="col-sm-2 col-md-2">
        <!--<a class="btn btn-xs btn-success" href="#">New Project</a>-->
        <button class="btn btn-xs btn-success" id="create-project">Нов проект</button>
    </div>
    <div class="col-sm-10 col-md-10">
        <div class="contentwrap">

            <h4>Моля отидете към списъка с проекти</h4>

        </div>
    </div>
</div>